name: IP Spoofing Tests
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo apt-get install -y qemu-system-x86
      - name: Run spoofing tests
        run: |
          qemu-system-x86_64 \
            -enable-kvm \
            -device virtio-net-pci,netdev=net0 \
            -netdev user,id=net0,hostfwd=tcp::2222-:22 \
            -drive file=spoofing-test.qcow2,format=qcow2
